.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  
}

.logo {
  width: 100px;
  padding: 10px;
  margin: 10px;
}

.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  list-style: none; /* Remove default bullets */
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adds space between cards */
  padding: 20px;
}

.res-card { 
  padding: 5px;
  width: 200px;
  height: 400px;
  background-color: azure;
  border-color: black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
 
}

.res-card :hover {
  background-color: lightgray;
  cursor: pointer;

}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: whitesmoke;
}

.filter{
  display: flex;
  
}